[project]
name = "moonshot"
version = "0.0.1"
authors = [
    { name="The Moonshot Team", email="our.moonshot.team@gmail.com" }
]
description = "Moonshot is a powerful utility designed to evaluate and measure your LLMs."
dependencies = [
    "openai==0.28.1",
    "python-slugify==8.0.1",
    "bert-score==0.3.13",
    "nltk==3.8.1",
    "py-readability-metrics==1.4.5",
    "rouge==1.0.1",
    "rouge-score==0.1.2",
    "aiometer==0.4.0",
    "aiohttp==3.9.0",
    "python-dotenv==1.0.0",
    "anthropic==0.7.4",
    "cmd2==2.4.3",
    "gnureadline==8.1.2",
    "rich==13.7.0"
]
readme = "README.md"
requires-python = ">=3.11"
license = { text = "Apache-2.0" }
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: Apache Software License"
]

[tool.poetry]
name = "moonshot"
version = "0.1.0"
description = "Moonshot is a powerful utility designed to evaluate and measure your LLMs."
authors = ["The Moonshot Team <our.moonshot.team@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
openai = "^0.28.1"
python-slugify = "^8.0.1"
bert-score = "^0.3.13"
nltk = "^3.8.1"
py-readability-metrics = "^1.4.5"
rouge = "^1.0.1"
rouge-score = "^0.1.2"
aiometer = "^0.4.0"
aiohttp = "^3.9.0"
python-dotenv = "^1.0.0"
anthropic = "^0.7.4"
cmd2 = "^2.4.3"
rich = "^13.7.0"


[tool.poetry.group.dev.dependencies]
black = "^23.10.1"
isort = "^5.12.0"
pre-commit = "^3.5.0"
pytest = "^7.4.3"
coverage = "^7.3.2"
pytest-mock = "^3.12.0"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
