absl-py==2.1.0 ; python_version >= "3.11" and python_version < "3.12"
accelerate==0.30.0 ; python_version >= "3.11" and python_version < "3.12"
aiohttp==3.9.5 ; python_version >= "3.11" and python_version < "3.12"
aiometer==0.5.0 ; python_version >= "3.11" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "3.12"
annotated-types==0.6.0 ; python_version >= "3.11" and python_version < "3.12"
anthropic==0.25.6 ; python_version >= "3.11" and python_version < "3.12"
anyio==4.3.0 ; python_version >= "3.11" and python_version < "3.12"
anytree==2.12.1 ; python_version >= "3.11" and python_version < "3.12"
astunparse==1.6.3 ; python_version >= "3.11" and python_version < "3.12"
attrs==23.2.0 ; python_version >= "3.11" and python_version < "3.12"
beautifulsoup4==4.12.3 ; python_version >= "3.11" and python_version < "3.12"
bert-score==0.3.13 ; python_version >= "3.11" and python_version < "3.12"
blis==0.7.11 ; python_version >= "3.11" and python_version < "3.12"
boto3==1.34.98 ; python_version >= "3.11" and python_version < "3.12"
botocore==1.34.98 ; python_version >= "3.11" and python_version < "3.12"
bpemb==0.3.5 ; python_version >= "3.11" and python_version < "3.12"
catalogue==2.0.10 ; python_version >= "3.11" and python_version < "3.12"
certifi==2024.2.2 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
cloudpathlib==0.16.0 ; python_version >= "3.11" and python_version < "3.12"
cloudpickle==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
cmd2==2.4.3 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
confection==0.1.4 ; python_version >= "3.11" and python_version < "3.12"
conllu==4.5.3 ; python_version >= "3.11" and python_version < "3.12"
contourpy==1.2.1 ; python_version >= "3.11" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "3.12"
cymem==2.0.8 ; python_version >= "3.11" and python_version < "3.12"
datasets==2.19.1 ; python_version >= "3.11" and python_version < "3.12"
dependency-injector==4.41.0 ; python_version >= "3.11" and python_version < "3.12"
deprecated==1.2.14 ; python_version >= "3.11" and python_version < "3.12"
dill==0.3.8 ; python_version >= "3.11" and python_version < "3.12"
distro==1.9.0 ; python_version >= "3.11" and python_version < "3.12"
docopt==0.6.2 ; python_version >= "3.11" and python_version < "3.12"
editdistance==0.8.1 ; python_version >= "3.11" and python_version < "3.12"
eval-type-backport==0.1.3 ; python_version >= "3.11" and python_version < "3.12"
fastapi==0.110.2 ; python_version >= "3.11" and python_version < "3.12"
filelock==3.14.0 ; python_version >= "3.11" and python_version < "3.12"
flair==0.12.2 ; python_version >= "3.11" and python_version < "3.12"
flatbuffers==24.3.25 ; python_version >= "3.11" and python_version < "3.12"
fonttools==4.51.0 ; python_version >= "3.11" and python_version < "3.12"
frozenlist==1.4.1 ; python_version >= "3.11" and python_version < "3.12"
fsspec==2024.3.1 ; python_version >= "3.11" and python_version < "3.12"
fsspec[http]==2024.3.1 ; python_version >= "3.11" and python_version < "3.12"
ftfy==6.2.0 ; python_version >= "3.11" and python_version < "3.12"
future==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
gast==0.5.4 ; python_version >= "3.11" and python_version < "3.12"
gdown==4.4.0 ; python_version >= "3.11" and python_version < "3.12"
gensim==4.3.2 ; python_version >= "3.11" and python_version < "3.12"
google-pasta==0.2.0 ; python_version >= "3.11" and python_version < "3.12"
grpcio==1.63.0 ; python_version >= "3.11" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.12"
h5py==3.11.0 ; python_version >= "3.11" and python_version < "3.12"
homoglyphs==2.0.4 ; python_version >= "3.11" and python_version < "3.12"
httpcore==1.0.5 ; python_version >= "3.11" and python_version < "3.12"
httpx==0.27.0 ; python_version >= "3.11" and python_version < "3.12"
huggingface-hub==0.23.0 ; python_version >= "3.11" and python_version < "3.12"
hyperopt==0.2.7 ; python_version >= "3.11" and python_version < "3.12"
idna==3.7 ; python_version >= "3.11" and python_version < "3.12"
ijson==3.2.3 ; python_version >= "3.11" and python_version < "3.12"
intel-openmp==2021.4.0 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
janome==0.5.0 ; python_version >= "3.11" and python_version < "3.12"
jieba==0.42.1 ; python_version >= "3.11" and python_version < "3.12"
jinja2==3.1.3 ; python_version >= "3.11" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
joblib==1.4.2 ; python_version >= "3.11" and python_version < "3.12"
keras==3.3.3 ; python_version >= "3.11" and python_version < "3.12"
kiwisolver==1.4.5 ; python_version >= "3.11" and python_version < "3.12"
langcodes==3.4.0 ; python_version >= "3.11" and python_version < "3.12"
langdetect==1.0.9 ; python_version >= "3.11" and python_version < "3.12"
language-data==1.2.0 ; python_version >= "3.11" and python_version < "3.12"
language-tool-python==2.8 ; python_version >= "3.11" and python_version < "3.12"
lemminflect==0.2.3 ; python_version >= "3.11" and python_version < "3.12"
libclang==18.1.1 ; python_version >= "3.11" and python_version < "3.12"
lru-dict==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
lxml==5.2.1 ; python_version >= "3.11" and python_version < "3.12"
marisa-trie==1.1.1 ; python_version >= "3.11" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
markdown==3.6 ; python_version >= "3.11" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.11" and python_version < "3.12"
matplotlib==3.8.4 ; python_version >= "3.11" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.12"
mkl==2021.4.0 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
ml-dtypes==0.3.2 ; python_version >= "3.11" and python_version < "3.12"
more-itertools==10.2.0 ; python_version >= "3.11" and python_version < "3.12"
mpld3==0.3 ; python_version >= "3.11" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
multidict==6.0.5 ; python_version >= "3.11" and python_version < "3.12"
multiprocess==0.70.16 ; python_version >= "3.11" and python_version < "3.12"
murmurhash==1.0.10 ; python_version >= "3.11" and python_version < "3.12"
namex==0.0.8 ; python_version >= "3.11" and python_version < "3.12"
networkx==3.3 ; python_version >= "3.11" and python_version < "3.12"
nltk==3.8.1 ; python_version >= "3.11" and python_version < "3.12"
num2words==0.5.13 ; python_version >= "3.11" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.12"
nvidia-cublas-cu12==12.1.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cuda-cupti-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cuda-nvrtc-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cuda-runtime-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cudnn-cu12==8.9.2.26 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cufft-cu12==11.0.2.54 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-curand-cu12==10.3.2.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cusolver-cu12==11.4.5.107 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-cusparse-cu12==12.1.0.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-nccl-cu12==2.20.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-nvjitlink-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
nvidia-nvtx-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.11" and python_version < "3.12"
openai==1.23.6 ; python_version >= "3.11" and python_version < "3.12"
openhownet==2.0 ; python_version >= "3.11" and python_version < "3.12"
opt-einsum==3.3.0 ; python_version >= "3.11" and python_version < "3.12"
optree==0.11.0 ; python_version >= "3.11" and python_version < "3.12"
packaging==24.0 ; python_version >= "3.11" and python_version < "3.12"
pandas==2.2.2 ; python_version >= "3.11" and python_version < "3.12"
pillow==10.3.0 ; python_version >= "3.11" and python_version < "3.12"
pinyin==0.4.0 ; python_version >= "3.11" and python_version < "3.12"
pip==24.0 ; python_version >= "3.11" and python_version < "3.12"
pptree==3.1 ; python_version >= "3.11" and python_version < "3.12"
preshed==3.0.9 ; python_version >= "3.11" and python_version < "3.12"
protobuf==4.25.3 ; python_version >= "3.11" and python_version < "3.12"
psutil==5.9.8 ; python_version >= "3.11" and python_version < "3.12"
py-readability-metrics==1.4.5 ; python_version >= "3.11" and python_version < "3.12"
py4j==0.10.9.7 ; python_version >= "3.11" and python_version < "3.12"
pyarrow-hotfix==0.6 ; python_version >= "3.11" and python_version < "3.12"
pyarrow==16.0.0 ; python_version >= "3.11" and python_version < "3.12"
pybind11==2.12.0 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core==2.18.2 ; python_version >= "3.11" and python_version < "3.12"
pydantic==2.7.1 ; python_version >= "3.11" and python_version < "3.12"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "3.12"
pylcs==0.1.1 ; python_version >= "3.11" and python_version < "3.12"
pyparsing==3.1.2 ; python_version >= "3.11" and python_version < "3.12"
pyperclip==1.8.2 ; python_version >= "3.11" and python_version < "3.12"
pyreadline3==3.4.1 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
pysocks==1.7.1 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
python-slugify==8.0.4 ; python_version >= "3.11" and python_version < "3.12"
pytorch-revgrad==0.2.0 ; python_version >= "3.11" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.11" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.12"
regex==2024.4.28 ; python_version >= "3.11" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.12"
requests[socks]==2.31.0 ; python_version >= "3.11" and python_version < "3.12"
rich==13.7.1 ; python_version >= "3.11" and python_version < "3.12"
rouge-score==0.1.2 ; python_version >= "3.11" and python_version < "3.12"
rouge==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
s3transfer==0.10.1 ; python_version >= "3.11" and python_version < "3.12"
safetensors==0.4.3 ; python_version >= "3.11" and python_version < "3.12"
scikit-learn==1.4.2 ; python_version >= "3.11" and python_version < "3.12"
scipy==1.12.0 ; python_version >= "3.11" and python_version < "3.12"
segtok==1.5.11 ; python_version >= "3.11" and python_version < "3.12"
sentence-transformers==2.7.0 ; python_version >= "3.11" and python_version < "3.12"
sentencepiece==0.2.0 ; python_version >= "3.11" and python_version < "3.12"
setuptools==69.5.1 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
smart-open==6.4.0 ; python_version >= "3.11" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.12"
soupsieve==2.5 ; python_version >= "3.11" and python_version < "3.12"
spacy-legacy==3.0.12 ; python_version >= "3.11" and python_version < "3.12"
spacy-loggers==1.0.5 ; python_version >= "3.11" and python_version < "3.12"
spacy==3.7.4 ; python_version >= "3.11" and python_version < "3.12"
sqlitedict==2.1.0 ; python_version >= "3.11" and python_version < "3.12"
srsly==2.4.8 ; python_version >= "3.11" and python_version < "3.12"
starlette==0.37.2 ; python_version >= "3.11" and python_version < "3.12"
sympy==1.12 ; python_version >= "3.11" and python_version < "3.12"
tabulate==0.9.0 ; python_version >= "3.11" and python_version < "3.12"
tbb==2021.12.0 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
tensorboard-data-server==0.7.2 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux" or sys_platform == "win32")
tensorboard==2.16.2 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux" or sys_platform == "win32")
tensorflow-hub==0.16.1 ; python_version >= "3.11" and python_version < "3.12"
tensorflow-intel==2.16.1 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
tensorflow-io-gcs-filesystem==0.31.0 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
tensorflow-io-gcs-filesystem==0.37.0 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
tensorflow==2.16.1 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux")
termcolor==2.4.0 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "darwin" or sys_platform == "linux" or sys_platform == "win32")
terminaltables==3.1.10 ; python_version >= "3.11" and python_version < "3.12"
text-unidecode==1.3 ; python_version >= "3.11" and python_version < "3.12"
textattack==0.3.10 ; python_version >= "3.11" and python_version < "3.12"
tf-keras==2.16.0 ; python_version >= "3.11" and python_version < "3.12"
thinc==8.2.3 ; python_version >= "3.11" and python_version < "3.12"
threadpoolctl==3.5.0 ; python_version >= "3.11" and python_version < "3.12"
together==1.1.2 ; python_version >= "3.11" and python_version < "3.12"
tokenizers==0.19.1 ; python_version >= "3.11" and python_version < "3.12"
torch==2.3.0 ; python_version >= "3.11" and python_version < "3.12"
tqdm==4.66.4 ; python_version >= "3.11" and python_version < "3.12"
transformer-smaller-training-vocab==0.4.0 ; python_version >= "3.11" and python_version < "3.12"
transformers==4.40.1 ; python_version >= "3.11" and python_version < "3.12"
transformers[sentencepiece,torch]==4.40.1 ; python_version >= "3.11" and python_version < "3.12"
transformers[sentencepiece]==4.40.1 ; python_version >= "3.11" and python_version < "3.12"
triton==2.3.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version < "3.12" and python_version >= "3.11"
typer==0.9.4 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.11.0 ; python_version >= "3.11" and python_version < "3.12"
tzdata==2024.1 ; python_version >= "3.11" and python_version < "3.12"
urllib3==2.2.1 ; python_version >= "3.11" and python_version < "3.12"
uvicorn==0.29.0 ; python_version >= "3.11" and python_version < "3.12"
wasabi==1.1.2 ; python_version >= "3.11" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.12"
weasel==0.3.4 ; python_version >= "3.11" and python_version < "3.12"
werkzeug==3.0.3 ; python_version >= "3.11" and python_version < "3.12"
wheel==0.43.0 ; python_version >= "3.11" and python_version < "3.12"
wikipedia-api==0.6.0 ; python_version >= "3.11" and python_version < "3.12"
word2number==1.1 ; python_version >= "3.11" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
xxhash==3.4.1 ; python_version >= "3.11" and python_version < "3.12"
yarl==1.9.4 ; python_version >= "3.11" and python_version < "3.12"
