annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
anyio==4.4.0 ; python_version >= "3.11" and python_version < "3.12"
attrs==23.2.0 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
cmd2==2.4.3 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
dependency-injector==4.41.0 ; python_version >= "3.11" and python_version < "3.12"
fastapi==0.110.3 ; python_version >= "3.11" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.12"
idna==3.7 ; python_version >= "3.11" and python_version < "3.12"
ijson==3.2.3 ; python_version >= "3.11" and python_version < "3.12"
jinja2==3.1.4 ; python_version >= "3.11" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.11" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core==2.18.3 ; python_version >= "3.11" and python_version < "3.12"
pydantic==2.7.2 ; python_version >= "3.11" and python_version < "3.12"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "3.12"
pyparsing==3.1.2 ; python_version >= "3.11" and python_version < "3.12"
pyperclip==1.8.2 ; python_version >= "3.11" and python_version < "3.12"
pyreadline3==3.4.1 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
python-slugify==8.0.4 ; python_version >= "3.11" and python_version < "3.12"
rich==13.7.1 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.12"
starlette==0.37.2 ; python_version >= "3.11" and python_version < "3.12"
text-unidecode==1.3 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.12.0 ; python_version >= "3.11" and python_version < "3.12"
uvicorn==0.30.0 ; python_version >= "3.11" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.12"
xxhash==3.4.1 ; python_version >= "3.11" and python_version < "3.12"
